@import "tailwindcss";

:root {

  --background: #f5f5f5;
 
  --color-primary: #1d2846;
  --color-primary-hover: #323d5a;
  --color-selected: #6A7286;
  --color-bg-light: #ffffff;
  --color-bg-hover: #cac9c9;

 
  --color-accent: #172863;
  --color-text-muted: #6B7280;
  --color-card-border: #E5E7EB;
  --color-icon-bg: #E6ECFF;
  --color-white: #ffffff;
}

/* Modo oscuro (FUTURO USO)*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
  }
}

/* Tokens para Tailwind inline */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-bg-light: var(--color-bg-light);
  --color-bg-hover: var(--color-bg-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Global styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

.fa-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  vertical-align: middle;
}

html {
	scroll-behavior: smooth;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary-hover);
}
